<!DOCTYPE html>
<html>

<head>
    <<!-- meta name="viewport" content="width=device-width, initial-scale=1.0"> -->
    <title>Product App</title>
    <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
	<div class="nav-bar"></div>
    <div id="app">
        <div class="product">
            <div class="product-image">
                <img :src="image">
            </div>
        </div>
        <div class="product-info">
            <h1> {{ product }}</h1>
            <p v-if="inStock">In Stock</p>
            <p v-else>Out of stock</p>
            <ul>
            	<li v-for="detail in details">{{ detail }}</li>
            </ul>

            <div v-for="variant in variants" :key="variant.variantId">
            	<p>{{ variant.variantColor }}</p>
            </div>

            <button v-on:click="addToCart">Add to Cart</button>

            <div class="cart">
            	<p>Cart({{cart}})</p>
            </div>
        </div>


    </div>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="main.js"></script>
</body>

</html>